<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Éditer Produit<hr></span>
        </div>

        <form class="admin-edit-container" method="post" action="/admin/dashboard/editproduit/<%= OneProduit._id %>">
            <div class="admin-edit-image">
                <div class="form-group">
                    <img class="form-control" id="admin-edit-image" src="/<%= OneProduit.prod_image %>"><br>
                    <input type="file" class="form-control" id="admin-edit-input-image" name="admin-edit-input-image">
                </div>
            </div>
            <div class="admin-edit-infos">
                <div class="form-group">
                    <label>Nom du produit: </label>
                    <input type="text" class="form-control" id="admin-edit-nom" name="admin-edit-nom" value="<%= OneProduit.prod_nom %>">
                </div>
                <div class="form-group">
                    <label>Prix: </label>
                    <input type="number" class="form-control" id="admin-edit-prix" name="admin-edit-prix" value="<%= OneProduit.prod_prix %>">
                </div>
                <div class="form-group">
                    <label>Catégorie: </label>
                    <input type="text" class="form-control" id="admin-edit-categorie" name="admin-edit-categorie" value="<%= OneProduit.cat_nom %>">
                </div>
                <div class="form-group">
                    <label>Description: </label>
                    <textarea type="text" class="form-control" id="admin-edit-description" name="admin-edit-description"  rows="5"><%= OneProduit.prod_description %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Éditer</button>
            </div>
        </form>

        
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>