<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Nos produits<hr></span>
        </div>
        
        <section class="section-nos-produit">
            <form id="produit-form" method="post">
                <input type="hidden" name="id" id="produit-id">
            </form>
            <% for (let categorie of categories){ %>
            <span class="category-nos-produit"><%= categorie %><hr></span>
            <% for (let i = 0; i < listProduit.length; i++) { %>
            <% if(listProduit[i].cat_nom == categorie){ %>
            <div class="nos-produit-line">
                <div class="nos-produit-img-line">
                    <img class="nos-produit-img" src="/<%= listProduit[i].prod_image %>">
                </div>
                <div class="nos-produit-id-line">
                    <span class="nos-produit-id"><%= listProduit[i]._id.toString() %></span>
                </div>
                <div class="nos-produit-name-line">
                    <span class="nos-produit-name"><%= listProduit[i].prod_nom %></span>
                </div>
                <div class="nos-produit-prix-line">
                    <span class="nos-produit-prix"><%= listProduit[i].prod_prix %></span>
                </div>
                <div class="nos-produit-btn-line">
                    <button class="nos-produit-btn-del btn-danger" onclick="deleteProduit('<%= listProduit[i]._id %>')">Supprimer</button>
                    <button class="nos-produit-btn-edit btn-primary" onclick="editProduit('<%= listProduit[i]._id %>')">Éditer</button>
                </div>
            </div>
            <% } %>
            <% } %>
            <% } %>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>