<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Liste de réservations<hr></span>
        </div>
        <section class="section-reservation">
            <div class="div-arrived-reservation">
                <span class="div-reservation-titre">Non Arrivée<hr></span>
                <div class="header-reservation-line">
                    <div class="reservation-name-line">
                        <span class="reservation-name">Nom</span>
                    </div>
                    <div class="reservation-siege-line">
                        <span class="reservation-siege">Sièges</span>
                    </div>
                    <div class="reservation-date-line">
                        <span class="reservation-date">Date</span>
                    </div>
                    <div class="reservation-btn-line">
                    </div>
                </div>

                <form id="setArrived-form" method="post">
                    <input type="hidden" name="id" id="setArrived-id">
                </form>
                <% for (let i = 0; i < listReservation.length; i++) { %>
                <% if (listReservation[i].status_reservation=="false") { %>
                <div class="not-arrived-reservation-line">
                    <div class="reservation-name-line">
                    <% for (let j = 0; j < listClient.length; j++) { %>
                        <% if (listClient[j]._id.toString() == listReservation[i].cl_id) { %>
                        <span class="reservation-name"><%= listClient[j].cl_prenom %> <%= listClient[j].cl_nom %></span>
                        <% } %>
                    <% } %>
                    </div>
                    <div class="reservation-siege-line">
                        <span class="reservation-siege"><%= listReservation[i].num_siege %></span>
                    </div>
                    <div class="reservation-date-line">
                        <span class="reservation-date"><%= listReservation[i].date_reservation %></span>
                    </div>
                    <div class="reservation-btn-line">
                        <button class="reservation-btn btn-success" onclick="setArrivedReservation('<%= listReservation[i]._id %>')">Arriver</button>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="div-arrived-reservation">
                <span class="div-reservation-titre">Arrivée<hr></span>

                <% for (let i = 0; i < listReservation.length; i++) { %>
                <% if (listReservation[i].status_reservation=="true") { %>
                <div class="arrived-reservation-line">
                    <div class="reservation-name-line">
                    <% for (let j = 0; j < listClient.length; j++) { %>
                        <% if (listClient[j]._id.toString() == listReservation[i].cl_id) { %>
                        <span class="reservation-name"><%= listClient[j].cl_prenom %> <%= listClient[j].cl_nom %></span>
                        <% } %>
                    <% } %>
                    </div>
                    <div class="reservation-siege-line">
                        <span class="reservation-siege"><%= listReservation[i].num_siege %></span>
                    </div>
                    <div class="reservation-date-line">
                        <span class="reservation-date"><%= listReservation[i].date_reservation %></span>
                    </div>
                    <div class="reservation-btn-line">
                        <button class="reservation-btn-true btn-secondary" disabled>Arriver</button>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>