<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>

    
    <main style="margin-top: 6pc;">
        <div class="line-dashboard">
            <span id="titre-dashboard">Liste d'utilisateurs<hr></span>
        </div>
        <section class="utilisateur-section">
            <div class="utilisateur-header">
                <div class="utilisateur-line-name">Nom</div>
                <div class="utilisateur-line-email">Courriel</div>
                <div class="utilisateur-line-number">Téléphone</div>
                <div class="utilisateur-line-address">Adresse</div>
                <div class="utilisateur-line-zip">Code postal</div>
                <div class="utilisateur-line-btn"></div>
            </div>
            <% for (let i = 0; i < listClient.length; i++) { %>
            <div class="utilisateur-line">
                <div class="utilisateur-line-name"><%= listClient[i].cl_prenom %> <%= listClient[i].cl_nom %></div>
                <div class="utilisateur-line-email"><%= listClient[i].cl_courriel%></div>
                <div class="utilisateur-line-number"><%= listClient[i].cl_telephone %></div>
                <div class="utilisateur-line-address"><%= listClient[i].cl_address %></div>
                <div class="utilisateur-line-zip"><%= listClient[i].cl_code_postal %></div>
                <div class="utilisateur-line-btn"><button class="utilisateur-btn btn-danger">Delete</button></div>
            </div>
            <% } %>
        </section>
    </main>


    <%- include('../partials/bootstrap.ejs')%>
</body>
</html>