<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>
  <br>
  <br>
  <span id="account-form-title">Account : <%= LoggedInForm.cl_nom %>, <%= LoggedInForm.cl_prenom %></span>
    <section class="account-form-section">
      <div id="account-form-div">
        <form method="post" action="http://localhost:29017/account"> 
          <div class="form-group">
            <label for="account-form-new-prenom">Nouveau Prénom :</label>
            <input type="text" class="form-control" id="account-form-new-prenom" name="account-form-prenom" value="<%= LoggedInForm.cl_prenom %>">
          </div>
          <div class="form-group">
            <label for="account-form-new-nom">Nouveau Nom :</label>
            <input type="text" class="form-control" id="account-form-new-nom" name="account-form-nom" value="<%= LoggedInForm.cl_nom %>">
          </div>
          <div class="form-group">
            <label for="account-form-new-email">Nouveau Addresse Courriel :</label>
            <input type="email" class="form-control" id="account-form-new-email" name="account-form-email" value="<%= LoggedInForm.cl_courriel %>">
          </div>
          <div class="form-group">
            <label for="account-form-new-phone">Nouveau Téléphone :</label>
            <input type="tel" class="form-control" id="account-form-new-phone" name="account-form-phone" value="<%= LoggedInForm.cl_telephone %>">
          </div>
          <div class="form-group">
            <label for="account-form-new-address">Nouveau Address :</label>
            <input type="text" class="form-control" id="account-form-new-address" name="account-form-address" value="<%= LoggedInForm.cl_address %>">
          </div>
          <div class="form-group">
            <label for="account-form-new-zip">Nouveau Code Postal :</label>
            <input type="text" class="form-control" id="account-form-new-zip" name="account-form-zip" value="<%= LoggedInForm.cl_code_postal %>">
          </div>
          <div class="form-row">
            <div class="col">
                <label for="account-form-new-password">Nouveau Mot de Passe :</label>
                <input type="password" class="form-control" id="account-form-new-password" name="account-form-password" value="<%= LoggedInForm.cl_password %>" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
            <div class="col">
                <label for="account-form-new-repassword">Entrez à nouveau le mot de passe :</label>
                <input type="password" class="form-control" id="account-form-new-repassword" name="account-form-repassword" placeholder="Mot de Passe" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
          </div><br>
          <div class="form-group">
            <label for="account-form-conformation-password">Mot de Passe de Confirmation : (votre vieux mot de passe)</label>
            <input type="password" class="form-control" id="account-form-conformation-password" name="account-form-conformation-password" placeholder="Mot de Passe" required>
          </div>
          <button type="submit" class="btn btn-secondary">Soumettre</button>
        </form>
      </div>
    </section>

    <br>
    <br>
  <%- include('../partials/bootstrap.ejs')%>
  <%- include('../partials/footer.ejs')%>
</body>

</html>