<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
    <section class="front-header">
        <div id="front-header-div">
            <div id="front-header-text">
                <span id="front-header-title">Mamma's Pizza's</span><br>
                <span id="front-header-small-text">Savourez chaque tranche à la pizzeria Mama <br> La maison du
                    meilleur croûton en ville!</span>
            </div>
        </div>
        <div id="front-header-div">
            <div id="front-header-img">
                <img src="img/IndexHeaderBanner.png" height="450px" width="95%">
            </div>
        </div>
    </section>

    <section class="nos-special-section">
        <div class="nos-special-div">
            <div id="nos-special-txt">
                <span id="nos-special-title">Nos Specials :</span>
            </div>
            <div class="nos-special-div"><br>
                <div class="menu-categorie">
                    <% NosSpecial.forEach(function(produit){ %>
                            <div class="menu-item">
                                <img class="menu-item-image" src="<%= NosSpecial.prod_image %>">
                                <h3 class="menu-item-nom">
                                    <%= NosSpecial.prod_nom %>
                                </h3>
                                <p class="menu-item-description">
                                    <%= NosSpecial.prod_description %>
                                </p>
                            </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="nos-special-div">
            <p id="nos-special-paragraphe">
                Ces spéciaux ne sont disponibles que pour une période limitée, alors n'hésitez pas à les essayer
                pendant que vous le pouvez! Et comme toujours, notre menu propose une grande variété d'autres
                options délicieuses de pizza et de plats italiens à choisir.
            </p>
        </div>
    </section>

    <section class="menu-section">
        <div class="menu-div">
            <p id="menu-paragraphe">
                Nous sommes fiers de notre nourriture et nous nous efforçons de fournir une expérience culinaire
                exceptionnelle à chacun de nos invités. Que vous cherchiez une tranche rapide ou un repas complet,
                nous avons quelque chose pour tout le monde à la pizzeria
                Mama's.
            </p>
        </div>
        <div class="menu-div">
            <a href="/menu">
                <button id="menu-button">Voir Notre Menu</button>
            </a>
        </div>
    </section>

    <section class="sign-up-section">
        <div id="sign-up-div">
            <a href="/signup">
                <button id="sign-up-button">Inscrire Maintenant</button>
            </a>
        </div>
        <div id="sign-up-div">
            <p id="sign-up-paragraphe">
                Rejoignez Mama's Pizza pour bénéficier d'offres exclusives, de commandes prioritaires et de
                recommandations de menu personnalisées. Économisez du temps en commandant facilement en ligne.
            </p>
        </div>
    </section>

    <section class="a-propos-nous-section">
        <div id="a-propos-nous-div">
            <p id="a-propos-nous-paragraphe">
                <span id="a-propos-nous-titre">À propos de nous:</span>
                <br><br> Chez Mama's Pizza, nous sommes passionnés par la livraison de délicieuses pizzas
                authentiques à nos clients. Nos pizzas sont préparées avec les ingrédients les plus frais, y compris
                de la pâte à pizza pétrie à la main, des
                sauces maison et un mélange de fromages de qualité supérieure. Notre menu propose une variété de
                pizzas classiques et spéciales, ainsi que des salades, des accompagnements et des desserts.
                <br><br> Nous croyons que la bonne nourriture ne représente que la moitié de l'équation. C'est
                pourquoi nous nous engageons à fournir un service à la clientèle exceptionnel et une atmosphère
                accueillante dans toutes nos locations.
                Que vous dîniez sur place, que vous emportiez ou que vous fassiez livrer votre repas, notre objectif
                est de rendre votre expérience chez Mama's Pizza inoubliable.
                <br><br> Merci d'avoir choisi Mama's Pizza. Nous avons hâte de vous servir bientôt!
            </p>
        </div>
        <div id="a-propos-nous-div">
            <p id="a-propos-nous-paragraphe">
                Notre Contact : (514) 334 1579 <br><br> Notre Location :
            </p>
            <iframe id="maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3422804539528!2d-73.69314718444055!3d45.52331727910173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc918708cd360f5%3A0xa03ae9636f6ca80a!2sMamma&#39;s%20Restaurant%20Pizzeria!5e0!3m2!1sen!2sca!4v1676259568657!5m2!1sen!2sca"
                style="border:0;" allowfullscreen="false" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <%- include('../partials/bootstrap.ejs')%>
    <%- include('../partials/footer.ejs')%>
</body>

</html>