<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
        <form id="item" action="http://localhost:29017/menu/<%= Item._id %>" method="post">
            <h1 id="item-titre">
                <%= Item.prod_nom %>
            </h1>
            <img id="item-image" src="/<%= Item.prod_image %>" alt="Image de l'item">
            <p id="item-description">
                <%= Item.prod_description %>
            </p>
            <div id="item-commander">
                <button id="item-incrementation" onclick="decrementer()">-</button>
                <input type="number" id="item-quantite" name="item-quantite" placeholder="1" min="1">
                <button id="item-incrementation" onclick="incrementer()">+</button>
                <input id="item-prix" name="item-prix" value="<%= Item.prod_prix %>" disabled>
            </div>
            <button id="item-ajouter-panier" type="submit">Ajouter au panier</button>
        </form>
    <%- include('../partials/bootstrap.ejs')%>
    <%- include('../partials/footer.ejs')%>
</body>

</html>