<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
        <div id="item">
            <h1 id="item-titre">
                <%= Item.prod_nom %>
            </h1>
            <img id="item-image" src="/<%= Item.prod_image %>" alt="Image de l'item">
            <p id="item-description">
                <%= Item.prod_description %>
            </p>
            <div id="item-commander">
                <button class="item-incrementation" onclick="decrementer()">-</button>
                <p id="item-quantite">1</p>
                <button class="item-incrementation" onclick="incrementer()">+</button>
                <p id="item-prix">
                    <%= Item.prod_prix %>
                </p>
            </div>
            <button id="item-ajouter-panier" onclick="ajouterAuPanier()">Ajouter au panier</button>
        </div>
        <%- include('../partials/bootstrap.ejs')%>
            <%- include('../partials/footer.ejs')%>
</body>

</html>