<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
    <script src="https://checkout.strip.com/checkout.ejs" defer></script>
    <script>
      var stripPublicKey = '<%= stripePublicKey %>'

    </script>
    <script src="panier.ejs" defer></script>
</head>

<body>
  <%- include('../partials/navbar.ejs')%>
    <% let sousTotal=parseFloat(0); %>

      <h3 id="panier-title">
        Panier de la commande
        <hr>
        </h1>
        <section class="panier-item-section">
          <div class="panier-item-div">
            <div class="panier-item-content">
              <table class="panier-item-table">
                <thead>
                  <tr id="panier-item-table-header">
                    <th id="panier-item-table-image"></th>
                    <th id="panier-item-table-nom">Nom</th>
                    <th id="panier-item-table-quantite">Quantité</th>
                    <th id="panier-item-table-prix">Prix</th>
                  </tr>
                </thead>
                <!-- Inserer les items ici -->
                <% Items.forEach(function(item){ %>
                  <% sousTotal +=parseFloat(item.item_prix); %>
                    <tbody>
                      <tr id="panier-item-table-content">
                        <td><img></td>
                        <td>
                          <%= item.item_nom %>
                        </td>
                        <td>
                          <%= item.item_quantite %>
                        </td>
                        <td>
                          <%= item.item_prix %>$
                        </td>
                      </tr>
                    </tbody>
                    <% }) %>
              </table>
            </div>
          </div>
          <div class="panier-payment-div">
            <div class="panier-payment-one">
              <span id="panier-payment-text">Sous-total : </span>
              <hr>
              <span id="panier-payment-text">Taxes : </span>
              <hr>
              <span id="panier-payment-text">Total : </span>
            </div>
            <div class="panier-payment-two">
              <span id="panier-payment-amount">
                <%= sousTotal.toFixed(2) %>$
              </span>
              <hr>
              <span id="panier-payment-amount">À faire</span>
              <hr>
              <span id="panier-payment-amount">À faire</span>
            </div>
            <div class="panier-payment-three">
              <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">

                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business" value="kin@kinskards.com">

                <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">

                <!-- Specify details about the item that buyers will purchase. -->
                <input type="hidden" name="item_name" value="Birthday - Cake and Candle">
                <input type="hidden" name="amount" value="3.95">
                <input type="hidden" name="currency_code" value="CAD">

                <!-- Display the payment button. -->
                <button type="submit" class="btn btn-secondary">Proceder au payement</button>
                <img alt="" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
              </form>

            </div>
          </div>
        </section>

        <%- include('../partials/bootstrap.ejs')%>
          <%- include('../partials/footer.ejs')%>
</body>

</html>