<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <div class="container">
            <br>
            <br>
            <h1>Nos Review : </h1>
            <hr>
            <% Reviews.forEach(element=> { %>
                <div class="reviwer-section">
                    <div id="reviewer-div">
                        <span id="reviewer-name"><%= element.review_prenom %> <%= element.review_nom %> | </span> <span id="reviewer-stare">Nombre d'etoiles: <%= element.review_rating %></span><br>
                        <span id="reviewer-title"><%= element.review_title%></span><br><br>
                        <p id="reviewer-content"><%= element.review_text%></p>
                    </div>
                </div>
                <% }); %>
            <br>
        </div>
    <%- include('../partials/bootstrap.ejs')%>
    <%- include('../partials/footer.ejs')%>
</body>
</html>